{% extends "base.html" %}
{% block titulo %}Libros · Clubes de Lectura{% endblock %}
{% block contenido %}
  <div class="hero" style="text-align:center">
    <div class="col" style="margin:auto">
      <div class="eyebrow">Sección</div>
      <h1>Libros</h1>
      <p class="lead">Seleccione una opción.</p>

      <div class="actions" style="justify-content:center; gap:.5rem; margin-top:1rem">
        <a class="btn" href="{{ url_for('vista_agregar_libro') }}">➕ Agregar</a>
        <a class="btn" href="{{ url_for('vista_modificar_libro') }}">✏️ Modificar</a>
        <a class="btn" href="{{ url_for('pagina_principal') }}">⬅ Volver a Página principal</a>
      </div>
    </div>
  </div>
{% endblock %}